.region {
    width: 600px;
    height: 100px;
    background-color: lightcyan;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid red;
    margin: 5px;
    padding: 5px;
}

.outside-region {
    width: 600px;
    border: 1px solid green;
    margin: 5px;
    padding: 5px;
}

.token {
    color: blue;
    font-weight: bold;
}

.ok {
    color: green;
    font-weight: bold;
}

.mark, .fail {
    color: red;
    font-weight: bold;
}

#selected-text {
    width: 600px;
    height: 300px;
    font-family: monospace;
    border: 1px solid purple;
    margin: 5px;
    padding: 5px;
}

.tests {
    display: none;
}

html {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}

body {
    border: 1px solid brown;
    margin: 5px;
    padding: 5px;
}

#description {
    border: 1px solid grey;
    margin: 5px;
    padding: 5px;
}

#example {
    border: 1px solid blue;
    margin: 5px;
    padding: 5px;
}
